{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
        <link href="{% static 'CVWebsite/styles.css' %}" rel="stylesheet">
    </head>
    <body>
        <nav>
            <div class="logo"><a href="{% url 'index' %}">MML</div>
            <div class="navigation_links">
                <a href="#">About Me</a>
                <div class="dropdown">
                    <div class="dropdown-btn">CV</div>
                    <div class="dropdown-content">
                        <a href="{% static 'CVs/cv_en.pdf' %}" download>Download (English)</a>
                        <a href="{% static 'CVs/cv_es.pdf' %}" download>Descargar (Español)</a>
                        <a href="{% static 'CVWebsite/CV Max Matarrodona Llopart (CAT).pdf' %}" download>Descarregar (Català)</a>
                    </div>
                </div>
                <a href="#">Contact</a>
            </div>
        </nav>
        {% block body %}
        {% endblock %}
    </body>
</html>