* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode',
    'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-color: rgb(44, 44, 44);
}

nav {
    height: 75px;
    background: rgb(54, 54, 54);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5vw;
    border-bottom: solid 2px rgb(22, 22, 22);
    box-shadow: 0 0 2rem 0 rgb(255, 0, 0, 0.7);
}

nav div {
    background-color: rgb(54, 54, 54);
    cursor: default;
}

.arrow {
    display: inline-block;
    font-size: 1.5rem;
    font-weight: bold;
    transition: transform 0.2s ease;
}

.dropdown:hover .arrow {
    transform: rotate(90deg);
}

.navigation_links a, .dropdown-btn {
    color: rgb(238, 238, 238);
    margin: 0 1.25rem;
    background-color: rgb(54, 54, 54);
    font-size: 1.25rem;
    text-decoration: none;
    transition: 0.2s ease-in-out;
}

.navigation_links a:hover, .logo:hover {
    color: rgb(238, 0, 0);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(54, 54, 54);
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.dropdown-content a {
    color: rgb(238, 238, 238);
    margin: 0;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 18px;
    transition: 0.2s ease-in-out;
}

.dropdown-content a:hover {
    background-color: rgb(44, 44, 44);
    color: rgb(238, 0, 0);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-btn {
    background-color: rgb(54, 54, 54);
    color: rgb(238, 238, 238);
    font-size: 1.25rem;
    text-decoration: none;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.dropdown-btn:hover {
    color: rgb(238, 0, 0);
}

.logo {
    background-color: rgb(54, 54, 54);
    transition: 0.2s ease-in-out;
    text-decoration: none;
    color: rgb(238, 238, 238);
    font-size: 3rem;
    font-weight: bold;
    font-style: italic;
}

/*index.html*/

.content {
    background-color: rgb(54, 54, 54);
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 25vh 20vw 10vh 20vw;
    padding: 2.5rem;
    min-width: 300px;
    border: solid 0.25rem rgb(22, 22, 22);
    border-radius: 1rem;
    transition: 0.25s ease-in-out;
    cursor: default;
}

.content:hover {
    box-shadow: 0 0 2rem 0 rgb(255, 0, 0, 0.5);
}

.welcome {
    font-size: 4.5rem;
    color: rgb(238, 238, 238);
    margin-bottom: 1.5rem;
}

.welcome_paragraph {
    color: rgb(238, 238, 238);
    font-size: 2rem;
}

@media screen and (max-width: 1150px) {
    .content {
        margin: 20vh 16vw 8vh 16vw;
    }

    .welcome {
        font-size: 4.25rem;
        margin-bottom: 1.5rem;
    }
    
    .welcome_paragraph {
        font-size: 1.89rem;
    }
}

@media screen and (max-width: 950px) {
    .content {
        margin: 15vh 12vw 6vh 12vw;
        padding: 2.25rem;
    }

    .welcome {
        font-size: 4rem;
        margin-bottom: 1.5rem;
    }
    
    .welcome_paragraph {
        font-size: 1.78rem;
    }
}

@media screen and (max-width: 750px) {
    .content {
        margin: 15vh 6vw 3vh 6vw;
        padding: 1.5rem;
    }

    .welcome {
        font-size: 3.5rem;
        margin-bottom: 1.5rem;
    }
    
    .welcome_paragraph {
        font-size: 1.67rem;
    }

    nav {
        height: 65px;
    }
    
    .navigation_links a, .dropdown-btn {
        font-size: 0.8rem;
        margin: 0 0.6rem;
    }

    .arrow {
        font-size: 1rem;
    }

    .logo {
        font-size: 2.1rem;
    }
}

@media screen and (max-width: 550px) {
    .content {
        padding: 0.5rem;
    }

    .welcome {
        font-size: 3rem;
        margin-bottom: 1.5rem;
    }
    
    .welcome_paragraph {
        font-size: 1.34rem;
    }
}